@model UI.Models.ProfUniversidad

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProfUniversidad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProfesor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProfesor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUniversidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUniversidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdProfUniversidad">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
