@model IEnumerable<UI.Models.Carrera>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Carreras</h1>

<p>
    <a asp-action="Create">Crear Carrera</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCarrera)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCarrera)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCarrera">Editar</a> |
                @*<a asp-action="Details" asp-route-id="@item.IdCarrera">Detalles</a> |*@
                @*<a asp-action="Delete" asp-route-id="@item.IdCarrera">Eliminar</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
