@model IEnumerable<UI.Models.ProfCurso>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdProfesor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCurso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProfesor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCurso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProfCurso">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdProfCurso">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProfCurso">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
