@model UI.Models.Calificacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Calificacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Facilidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Facilidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apoyo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apoyo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Claridad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Claridad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recomienda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recomienda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Puntaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Puntaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carrera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carrera.NombreCarrera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curso.NombreCurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etiqueta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etiqueta.NombreEtiqueta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profesor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profesor.Fullname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCalificacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
